.verification_container {
  width: 400px;
  height: 300px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  overflow: auto;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
