.showing{
    /* display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 99%; */
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
    width: 100%;
    padding: 20px 0px 20px 0px;
    grid-gap: 15px;
    background-color: blanchedalmond;
}